@charset "UTF-8";

/* MOBILE M (375 - 425px) */

header {
  height: 50px;
}
.logo h1 {
  font-size: 1.7em;
}
#botoes-nav > button > i {
  font-size: 2em;
}

nav {
  padding-left: 45px;
}

/* Titulo da página */
div#titulo-pagina h1 {
  font-size: 2.9em;
}
/* Slogan da página */
div#titulo-pagina p {
  font-size: 1.39em;
}

/* Tamanho dos títulos */
h2 {
  font-size: 2.31em;
  margin-bottom: 0;
}
h3 {
  font-size: 2.2em;
}

/* Legendas das imagens */
article figure > figcaption {
  padding: 4px 8px;
  font-size: 1em;
}

/* Tamanho do texto */
article p {
  font-size: 1.2em;
}

.pos-imagem-fundo {
  padding-top: 25px;
}
