@charset "UTF-8";

/* MOBILE P (320px - 375px) */

header {
  height: 45px;
}
.logo h1 {
  font-size: 1.6em;
}

nav {
  padding-left: 35px;
}

/* Titulo da página */
div#titulo-pagina h1 {
  font-size: 2.5em;
}
/* Slogan da página */
div#titulo-pagina p {
  font-size: 1.24em;
}

/* Tamanho dos títulos */
h2 {
  font-size: 1.99em;
  margin-bottom: 0;
}
h3 {
  font-size: 1.8em;
}

/* Legendas das imagens */
article figure > figcaption {
  padding: 4px 8px;
  font-size: 0.95em;
}

/* Tamanho do texto */
article p {
  font-size: 1.2em;
}
