@charset "UTF-8";

/* TEXTO DE INTRODUÇÃO */
#introducao {
  margin-top: 0;
  padding: 20px 20px 100px 20px;

  background-color: rgba(0, 0, 0, 0.27);
}

div#introducao > p {
  margin-bottom: 20px;
  padding: 12px;

  background-color: var(--fundo-transparente);
  backdrop-filter: blur(10px);
  border-radius: 10px;

  font-size: 1.2em;
}
